body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  &:visited {
    color: unset;
  }
}

img {
  vertical-align: bottom;
}

ol,
ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
